<!-- Footer -->
<hr>
<footer>
    <div class="row text-center">
        <div class="col-md-4">
            <h5><strong>Site Haritası </strong> </h5>
            <hr />
            <p>
                <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Hakkımızda </a>
                <br />
                <a href="/Home/Contact"><span class="glyphicon glyphicon-envelope"></span>&nbsp;İletişim</a>
            </p>
        </div>
        <div class="col-md-4">
            <p><strong>Tüm Hakları Saklıdır. &copy;Makale @DateTime.Now.Year</strong> </p>
        </div>
        <div class="col-md-4">
            <h5><strong> E-Bülten Üyeliği</strong></h5>
            <hr />
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-Posta Adresiniz">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp; Gönder</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</footer>